apispec==4.4.1
attrs==21.2.0
black==21.10b0
click==7.1.2
flake8==3.9.1
flake8-print==4.0.0
Flask==1.1.2
flask-smorest==0.30.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.11.1
marshmallow-sqlalchemy==0.25.0
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
six==1.16.0
SQLAlchemy==1.4.14
stringcase==1.2.0
toml==0.10.2
webargs==8.0.0
Werkzeug==1.0.1
