apispec==5.1.1
attrs==21.2.0
black==21.10b0
click==8.0.3
flake8==4.0.1
flake8-print==4.0.0
Flask==2.0.2
flask-smorest==0.35.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.27.0
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
pytest==6.2.5
six==1.16.0
SQLAlchemy==1.4.29
stringcase==1.2.0
toml==0.10.2
webargs==8.0.1
Werkzeug==2.0.2
